<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nepal.naxa.smartnaari">

    <uses-permission android:head="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:head="android.permission.RECORD_AUDIO" />
    <uses-permission android:head="android.permission.STORAGE" />
    <uses-permission android:head="android.permission.INTERNET" />
    <uses-permission android:head="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:head="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:head="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:head="android.permission.SEND_SMS" />
    <uses-permission android:head="android.permission.GET_ACCOUNTS" />
    <uses-permission android:head="android.permission.NETWORK" />
    <uses-permission android:head="android.permission.USE_CREDENTIALS" />
    <uses-permission android:head="android.permission.READ_PHONE_STATE" />
    <uses-permission android:head="android.permission.READ_CONTACTS" />
    <uses-permission android:head="android.permission.WRITE_CONTACTS" />
    <uses-permission android:head="android.permission.VIBRATE" />
    <uses-permission android:head="android.permission.WAKE_LOCK" />
    <uses-permission android:head="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:head="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:head="android.permission.WRITE_SETTINGS" />

    <!-- start service on android system boot -->
    <uses-permission android:head="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:head=".application.SmartNaari"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ======================= auto start services on system boot ==================== -->
        <receiver
            android:head=".mycircle.powerbutton.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:head="android.intent.action.BOOT_COMPLETED" />

                <category android:head="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:head=".mycircle.powerbutton.NotificationReceiver"
            android:enabled="true"
            android:process=":remote" />

        <service
            android:head=".mycircle.powerbutton.PowerButtonService"
            android:enabled="true"
            android:exported="true" />

        <!-- ======================= end of auto start services on system boot ==================== -->

        <service
            android:head=".data.network.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- ======================  shake service ==================== -->

        <service
            android:head=".mycircle.shake.ShakeService"
            android:enabled="true" />
        <service
            android:head=".mycircle.shake.LocationMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:head="com.nepal.naxa.smartnaari.mycircle.shake.LocationMessageService" />
            </intent-filter>
        </service>
        <service
            android:head=".mycircle.activitydetect.ActivityRecognizedService"
            android:enabled="true" />
        <service android:head=".mycircle.location.LocationUpdateService" />
        <service android:head=".mycircle.location.GeoPointService" />

        <activity android:head="mycircle.shake.ServiceActivity" />
        <activity android:head=".mycircle.activitydetect.DetectActivity" />
        <activity
            android:head=".mycircle.setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:head=".mycircle.PermissionActivity"
            android:label="@string/title_activity_permission"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action andrheadname="android.intent.action.MAIN" /> -->


            <!-- <category andrheadname="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- ======================end of shake service ================ -->


        <!-- <activity -->
        <!-- andrheadname=".homescreen.MainActivity" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" /> -->

        <activity
            android:head=".splashscreen.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:head="android.intent.action.MAIN" />

                <category android:head="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:head=".aboutboardmembers.AboutMembersActivity"
            android:exported="true">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".homescreen.DetailActivity"
            android:parentActivityName=".utils.ui.BeautifulMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".utils.ui.BeautifulMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:head=".register.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SignUpTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:head=".login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SignUpTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:head=".mycircle.MyCircleActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyCircleTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:head=".masakchamchu.IAmAmazingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".services.ServicesActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".masakchamchu.MaSakchamChuMainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".masakchamchu.AddANewPostActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".passion_of_life.ComplexListActivity"
            android:exported="true"
            android:parentActivityName=".utils.ui.BeautifulMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:head="com.google.android.geo.API_KEY"
            android:value="AIzaSyCO207LmdkysjApEtK5mEEBLlpAjWsNMaU" />

        <activity
            android:head=".yuwapusta.YuwaPustaActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".yuwapusta.AskOwlActivity"
            android:exported="true"
            android:parentActivityName=".yuwapusta.YuwaPustaActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value="com.nepal.naxa.smartnaari.yuwapusta.YuwaPustaActivity" />
        </activity>
        <activity
            android:head=".machupbasdina.MaChupBasdinaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity android:head=".smartparent.SmartParentActivity">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".data_glossary.muth_busters.WordsWithDetailsActivity"
            android:exported="true">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>

        <meta-data
            android:head="io.fabric.ApiKey"
            android:value="2b2f7cc04d8fcabb1a720c50d2fd95a9a26e953d" />

        <activity android:head=".YuwaPustaQueryDetailsActivity">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value="com.nepal.naxa.smartnaari.yuwapusta.YuwaPustaActivity" />
        </activity>
        <activity
            android:head=".aboutsmartnaari.AboutSmartNaariActivity"
            android:exported="true">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        >
        <activity
            android:head=".celebratingprofessional.CelebratingProfessionalActivity"
            android:exported="true">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:head=".setingschange.SettingsChangeActivity"
            android:exported="true">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity android:head=".data_glossary.muth_busters.DataGlossaryWordDetailsActivity">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".data_glossary.muth_busters.WordsWithDetailsActivity" />
        </activity>
        <activity
            android:head=".masakchamchu.lifecoachingtest.LifeCoachingTestActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".masakchamchu.MaSakchamChuMainActivity" />
        </activity>
        <activity
            android:head=".masakchamchu.FreeOnlineCourseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".masakchamchu.MaSakchamChuMainActivity" />
        </activity>

        <activity
            android:head=".masakchamchu.BookAnAppointmentActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".masakchamchu.MaSakchamChuMainActivity" />
        </activity>

        <activity android:head=".XandYDetailsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:head="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>


        <!--<activity android:head=".passion_of_life.complexhotpotrecyclerview.HotPotComplexRecyclerViewActivity"-->
            <!--android:screenOrientation="portrait">-->
            <!--<meta-data-->
                <!--android:head="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".utils.ui.BeautifulMainActivity" />-->
        <!--</activity>-->

    </application>

</manifest>