<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nepal.naxa.smartnaari">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".application.SmartNaari"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".data.network.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- ======================  shake service ==================== -->

        <service
            android:name=".mycircle.shake.ShakeService"
            android:enabled="true" />
        <service
            android:name=".mycircle.shake.LocationMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="tan.nishon.shake.shake.LocationMessageService" />
            </intent-filter>
        </service>
        <service
            android:name=".mycircle.powerbutton.PowerButtonService"
            android:enabled="true" />
        <service
            android:name=".mycircle.activitydetect.ActivityRecognizedService"
            android:enabled="true" />
        <service android:name=".mycircle.location.LocationUpdateService" />
        <service android:name=".mycircle.location.GeoPointService" />

        <activity android:name="mycircle.shake.ServiceActivity" />
        <activity android:name=".mycircle.activitydetect.DetectActivity" />
        <activity
            android:name=".mycircle.setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".mycircle.PermissionActivity"
            android:label="@string/title_activity_permission"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- ======================end of shake service ================ -->


        <!-- <activity -->
        <!-- android:name=".homescreen.MainActivity" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" /> -->

        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homescreen.DetailActivity"
            android:parentActivityName=".utils.ui.BeautifulMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:name=".utils.ui.BeautifulMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SignUpTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SignUpTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mycircle.MyCircleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyCircleTheme"
            android:windowSoftInputMode="stateHidden"
            android:exported="true"/>
        <activity
            android:name=".masakchamchu.IAmAmazingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:name=".services.ServicesActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:name=".masakchamchu.MaSakchamChuMainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:name=".masakchamchu.AddANewPostActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:name=".passion_of_life.ComplexListActivity"
            android:exported="true"
            android:parentActivityName=".utils.ui.BeautifulMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCO207LmdkysjApEtK5mEEBLlpAjWsNMaU" />

        <activity
            android:name=".yuwapusta.YuwaPustaActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:name=".yuwapusta.AskOwlActivity"
            android:exported="true"
            android:parentActivityName=".yuwapusta.YuwaPustaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nepal.naxa.smartnaari.yuwapusta.YuwaPustaActivity" />
        </activity>
        <activity
            android:name=".machupbasdina.MaChupBasdinaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity android:name=".smartparent.SmartParentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".utils.ui.BeautifulMainActivity" />
        </activity>
        <activity
            android:name=".data_glossary.muth_busters.WordsWithDetailsActivity"
            android:exported="true"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2b2f7cc04d8fcabb1a720c50d2fd95a9a26e953d" />

        <activity android:name=".YuwaPustaQueryDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nepal.naxa.smartnaari.yuwapusta.YuwaPustaActivity" />
        </activity>
    </application>

</manifest>